@using Microsoft.AspNetCore.Identity
@using LocalMarket.Services.Producer

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IProducerService service

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/7806c4096e.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - LocalMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-6">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item navbar-light bg-info">
                            <a class="navbar-brand bg-info" asp-controller="Home" asp-action="Index">
                                <img src="~/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                                LocalMarket
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link  text-uppercase text-dark" asp-area="" asp-controller="Product" asp-action="All">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-uppercase text-dark" asp-area="" asp-controller="Producer" asp-action="All">Our Producers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-uppercase text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About us</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />

                </div>
            </div>


        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-black-50 bg-info">
        <div class="container">
            &copy; @DateTime.UtcNow.Year  - LocalMarket - <a asp-area="" asp-controller="Home"></a> Copyright by Enthusiast.
        </div>
        <div>
            <p>
                You can follow us at:
                <a href="https://www.facebook.com">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.twitter.com">
                    <i class="fab fa-twitter"></i>
                </a>
            </p>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
