@model AllProductsSearchModel

@{
    ViewData["Title"] = "Products";
}

<div class="mb-2"></div>

<form method="get" class="form-inline">
    <input asp-controller="Product" asp-action="All" asp-for="Keyword" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<partial name="_ListedProductsPartial" model=@Model.Products />

<div class="mt-3 text-center"></div>

@*Paging with previous and next*@
@*
    <nav>
        <a class="btn @(Model.CurrPage==1 ? "disabled" : string.Empty )" asp-conroller="Product" asp-action="All" asp-route-currPage=@(Model.CurrPage-1)>Previous</></a>
        <a class="btn @(Model.CurrPage== Model.TotalPages ? "disabled" : string.Empty )" asp-conroller="Product" asp-action="All" asp-route-currPage=@(Model.CurrPage+1)>Next</a>
    </nav>*@

<nav>
    <ul class="pagination pagination-lg">
        @for (int i = 1; i <= @Model.TotalPages; i++)
        {
            <li class="page-item"><a class="page-link" asp-controller="Product" asp-action="All" asp-route-currPage=@i>@i</a></li>
        }

    </ul>
</nav>
