@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel


<section class="text-center text-dark font-italic">
    <div class="mb-5"></div>

    <div class="jumbotron">
            <h3 class="display-4 ">Taste our <span class="text-success font-weight-bolder">fresh </span> products from local producers</h3>
            <div class="mb-5"></div>
            <p class="lead">
                We are a free platform who is trying to connect local farmers with their customers. Our goal is to encourage people buying from small local producers. Why? First - because local products are healthier and fresher.  Second - because we want to give a chance to the local farmers, who are facing big difficulties
            </p>
            <hr class="my-4">
            <p>We work currently with @Model.GrowersCount farmers and growers and we offer @Model.ProductsCount products in @Model.TownsCount towns </p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" asp-controller="Product" asp-action="All" role="button">See all products</a>
            </p>
    </div>
    

    

</section>

