@model ProducerServiceModel

<div class="mt-4"></div>
<div class="col-3">
    <div class="card bg-light">
        <div class="card-body">
            <h3 class="card-title">@(Model.CompanyName)</h3>
            <h5 class="card-text">@Model.Town </h5>
            <h6 class="card-text">@Model.AboutMe </h6>
        </div>
    </div>
</div>